<template>
    <div>
        <div class="row">
            <div class="pr col-3">
                <p>{{datos.length}} products.</p>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="card-group">
                <div v-for="data in datos" class="col-3 d-flex justify-content-center" v-bind:key="data.id">
                    <div class="card " style="width: 16rem">
                        <img class="card-img-top" :src="data.img" alt="Card image cap" width="286" height="300">
                        <div class="card-body">
                            <h5 class="card-title">{{data.name}}</h5>
                            <p class="card-text">{{data.description}}</p>
                            <a :href="`/articles/${data.id}/buy`" class="btn btn-success d-flex justify-content-center">BUY</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Articles',
        props: ['datos']
    }
</script>

<style scoped>
    p {
        color: gray;
    }

    .card {
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .pr {
        margin-left: 50px;
        margin-top: 20px;
    }
</style>