<template>
    <header>
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="col-4 d-flex justify-content-center">
                        <div class="logo">
                            <img src="images/Yeeply_logo.png" width="60" height="30">
                        </div>
                    </div>
                    <div class="col-7 d-flex justify-content-end d-none d-sm-none d-lg-flex">
                        <div>
                            <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="#">ENTRAR</a>
                                    </li>
                                    <li class="nav-item active">
                                        <a class="nav-link" href="#">ENTRAR</a>
                                    </li>
                                    <li class="nav-item active">
                                        <a class="nav-link" href="#">ENTRAR</a>
                                    </li>
                                    <li class="nav-item active">
                                        <button type="button" class="btn btn-primary botL">LOREM IPSUM</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-7 d-flex justify-content-end d-none d-sm-flex d-lg-none">
                        <div>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="#">ENTRAR</a>
                                    </li>
                                    <li class="nav-item active">
                                        <a class="nav-link" href="#">ENTRAR</a>
                                    </li>
                                    <li class="nav-item active">
                                        <a class="nav-link" href="#">ENTRAR</a>
                                    </li>
                                    <li class="nav-item active">
                                        <button type="button" class="btn btn-primary botL">LOREM IPSUM</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
</template>

<script>
    export default {
        name: 'HeaderComp'
    }
</script>

<style scoped>
    .col-7 {
        max-height: 200px !important;
    }

    .botL:hover {
        background-color: #5DBCD2 !important;
    }
</style>