<template>
    <div class="row caja">
        <div class="col-12 text-center title">
            <h1>LOREM IMPUM</h1>
        </div>
        <div class="col-12 text-center">
            <p>Sed ud perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudamtium, totam rem aperiam, eaque</p>
            <p>ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo</p>
        </div>
        <div class="col-12 text-center but">
            <button type="button" class="btn btn-primary boton">LOREM IPSUM</button>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'SubHeader'
    }
</script>

<style>
    .caja {
        background-color: black;
        min-height: 400px;
        align-items: center;
    }
    h1{
        color:white !important;
    }
    p{
        color: white;
    }
    .title{
        margin-top: 80px;
    }
    .but{
        margin-bottom: 80px;
    }
    .boton{
        width: 150px;
        height: 60px;
    }
    .boton:hover{
        background-color: #5DBCD2 !important;
    }
</style>