<template>
    <div class="container-fluid">
        <HeaderComp />
        <SubHeader />
        <Articles :datos='compras' />
    </div>
</template>

<script>
    export default {
        name: 'App',
        beforeMount: function () {
            this.compras = JSON.parse(this.$parent.compras);
        },

        data: () => ({
            compras: []
        })
    }
</script>

<style>
    .container-fluid {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .row {
        margin-right: 0px !important;
        margin-left: 0px !important;
    }

    .col-12 {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
</style>